.house h1{
    color: blue;
}
.bed-room{
    background-color: lightblue;
}

#kitchen{
    color: orange;
}
/* direct child element */
.house>div{
    background-color: lightgray;
}

/* room that is after the living room */
.living-room+div{
    background-color: green;
}

/* all rooms after kitchen */
#kitchen~div{        
    background-color: lightpink;
}